nodered/flows.json
[{"id":"c957e853.6f8078","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e1a2128e.a27a4","type":"mongodb out","z":"c957e853.6f8078","mongodb":"2dedb0ef.3379c","name":"","collection":"save","payonly":true,"upsert":false,"multi":false,"operation":"store","x":530,"y":40,"wires":[]},{"id":"8ea795c1.461038","type":"mongodb in","z":"c957e853.6f8078","mongodb":"2dedb0ef.3379c","name":"","collection":"save","operation":"find","x":550,"y":220,"wires":[["20d3d133.748fee"]]},{"id":"c0b1f4d6.3382b8","type":"http in","z":"c957e853.6f8078","name":"","url":"/save","method":"post","upload":false,"swaggerDoc":"","x":230,"y":140,"wires":[["e1a2128e.a27a4","8ea795c1.461038"]]},{"id":"20d3d133.748fee","type":"http response","z":"c957e853.6f8078","name":"","statusCode":"","headers":{},"x":820,"y":220,"wires":[]},{"id":"8b56dc5.c7aa32","type":"inject","z":"c957e853.6f8078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["e8dccb6f.c578b8"]]},{"id":"30076117.45195e","type":"http request","z":"c957e853.6f8078","name":"","method":"POST","ret":"obj","url":"http://localhost:1880/save","tls":"","x":510,"y":380,"wires":[["994325ff.98dc18"]]},{"id":"e8dccb6f.c578b8","type":"function","z":"c957e853.6f8078","name":"","func":"msg.payload = {\"name\" : \"ola mundo\"}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["30076117.45195e"]]},{"id":"994325ff.98dc18","type":"debug","z":"c957e853.6f8078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":400,"wires":[]},{"id":"2dedb0ef.3379c","type":"mongodb","z":"","hostname":"mongo","port":"27017","db":"teste","name":""}]